.form-input {
  border: none;
  border-bottom: 1px solid #727272;
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  padding: 0.7rem 0.75rem;
  line-height: 1.25;
  margin-bottom: 1.3rem;
}

.form-input:focus {
  outline: none;
}

textarea {
    resize: none;
}















.contact-from {
  margin-top: 30px;
}

.contact-content {
  display: table;
  width: 100%;
  margin-top: 30px;
}

.contact-icon {
  width: 60px;
  vertical-align: top;
  font-size: 30px;
  text-align: center;
  color: #666;
}

.contact-details,
.contact-icon {
  display: table-cell;
}

.contact-details h5,
.contact-details p {
  margin-bottom: 0;
}

.error-form {
  float: right;
  margin: -24px 2px 0 0;
  position: relative;
  top: 0;
}

.error-form i:before {
  color: #c33;
  font-size: 100%;
  vertical-align: top;
  margin-right: 10px;
}

.alert-success {
  text-align: left;
}



#contactForm textarea {
  resize: none;
}

#map {
  height: 400px;
  margin-top: 50px;
  width: 100%;
}
