/*-------------------------------------------------------------------

                        Home Styles

-------------------------------------------------------------------*/

.content-home {
  background: url("../src//assets/images/background.jpg") center center #100e17;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(60, 109, 71, 0.31);
  z-index: 1;
}

.container-fluid {
  width: 100%;
  padding: 0 auto;
  margin-right: auto;
  margin-left: auto;
}

/*-------------------------------------------------------------------

                        Page Content

-------------------------------------------------------------------*/

.content-blocks {
  position: fixed;
  height: 100vh;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.content {
  position: relative;
  padding: 83px 15px;
  height: auto;
  overflow: hidden;
}

.block-content {
  margin: 0 0 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.block-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  font-weight: 600;
}

/*-------------------------------------------------------------------

                        RESPONSIVE

-------------------------------------------------------------------*/
@media (min-width: 1500px) {
  .content-blocks {
    width: 50%;
    left: 50%;
  }

  .content {
    padding: 120px 70px 30px;
  }

  .block-content {
    margin: 0 0 70px;
  }
}

@media (min-width: 800px) and (max-width: 1299px) {
  .content {
    padding: 120px 70px 30px;
  }
}

@media (min-width: 1300px) {
  .content {
    padding: 120px;
  }
}